.display{
  text-align: center;
  margin: 10px;
}

.logo{
  height: 50px;
}

ul{
 list-style-type: none;
 margin: 0px;
 padding: 0px;
}

.device{
  display: inline-block;
  padding: 3px 6px;
  margin: 0px;
  margin-top: 3px;
  background-color: black;
  color: white;
  border-radius: 3px;
}